//colors
$royalBlue:#223a5e; //titles
$aquamarine:#00a0b7;
$royalBlueEvents:#003666;//events-title
$roboto:  'Source Sans Pro', sans-serif;
$fira:'Comfortaa', cursive;;
$montserrat: 'Montserrat', sans-serif;
$linesSpindle:#bcc8d4;
